<strong>Olá, {{ provider }}</strong>
<p>Houve um agendamento de horário, veja:</p>
<p>
  <strong>Cliente: {{ user }}</strong> <br />
  <strong>Data/Hora: {{ date }}</strong><br /><br />
  <small>
    * O horário está agendado e só poderá ser cancelado com duas horas de antecedencia.
  </small>
</p>
